body {
    font-family: $opensans-fonts;
}

.login-body {
    background: $pri-color;
}

.login{
    &-form, &-form * {
        box-sizing: border-box;
    }

    &-form {
        max-width: 350px;
        margin: 50px auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: $shadow1;

        &-logo-container {
            padding: 30px;
            background: $green-color;
        }

        &-logo {
            display: block;
            margin: 0 auto;
        }

        &-content {
            padding: 30px;
            background: $bg-gray;

            label {
                font-size: 0.9em;
                margin-left: 20px;
            }

            input[type=checkbox] {
                transform: translateY(2px);
                margin-bottom: 20px;
            }

            input[type=text], input[type=password] {
                width: 100%;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 4px;
                border: 2px solid #ddd;
                background-color: #fff;
                transition: border-color .3s;
    
                &:focus {
                    border-color: $green-color;
                }
    
                &:focus &::placeholder {
                    color: black;
                }
            }

            button {
                padding: 10px;
                color: #fff;
                font-weight: bold;
                background: $green-color;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
    
                &:hover {
                    background: $pri-color;
                }
            }
        }

        &-header {
            margin-bottom: 15px;
            text-align: center;
            color: #333;
        }

        &-links {
            margin-top: 15px;
            text-align: center;

            a {
                font-size: 0.9em;
                color: $green-color;
                font-weight: normal;
    
                &:hover {
                    font-size: 0.9em;
                    font-weight: normal;
                }
            }
        }
    }
}

/* DASHBOARD STYLE */

.ui.vertical.menu.sidebar-menu {
    margin-top: 40px!important;
    max-height: calc(100% - 40px)!important;
    height: calc(100% - 40px)!important;
    background-color: $pri-color;
}

nav.ui.menu {
    background-color: $pri-color;
}

.main-content {
    margin-top: 50px;
}

.note-full {
    position: absolute;
    padding: 3px;
    border-radius: 50%;
    background: red;
    top: 13px;
    right: 23px;
}

.dataTables_wrapper {
    margin: 5px;
}

.submenu {
    display: block;
    margin-left: 10px;

    &-tab {
        width: 100%;
        flex-wrap: wrap;
        margin-right: 10px;
        padding: 15px;
    }

    &-header {
        h1 {
            font-size: 20px;
            font-weight: normal;
            color: #303030;
            text-align: center;
        }
    }

    &-list {
        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px 0;
            font-size: 14px;
            border-bottom:1px solid #d4d4d5;
            text-align: right;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }

            .ui.basic.button {
                padding: 10px 10px;
            }
        }

        &-name {
            font-size: 14px;
            line-height: 32px;
        }
    }
}

.create-dropdown-menu, .create-megamenu {
    display: none;
}

.make-online {
    display: inline-block;
    min-width: 1.3em;
    min-height: 1.3em;
    border-radius: 50%;
}

.ui.grid.stackable.padded {
    table {
        td {
            i {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}

.ui.striped.table tbody .dataTable_feature:nth-child(2n), .ui.striped.table>.dataTable_feature:nth-child(2n) {
    background-color: white;
    &:hover {
        background: $pri-color;
    }
}

.dataTable_feature {
    background: white;
    &:hover {
        background: $pri-color;
    }
}

.ui.striped.table tbody .dataTable_new_feature:nth-child(2n), .ui.striped.table>.dataTable_new_feature:nth-child(2n) {
    background-color: #e8f9d8;
    font-weight: 500;
    &:hover {
        background: $pri-color;
    }
}

.dataTable_new_feature {
    background-color: #e8f9d8;
    font-weight: 500;
    &:hover {
        background: $pri-color;
    }
}

.card {
    .meta {
        margin-top: 0px;
        margin-left: 15px;
    }
    .description {
        margin: 20px 0;
        margin-left: 15px;
    }
}

@media #{$breakpoint-xs-md} {

    .ui.vertical.menu.sidebar-menu {
        visibility: visible;
        transform: translate3d(0,0,0);
    }
    
    .main-content {
        margin-left: 15rem;
    }

    .sidebar-menu-toggler {
        display: none!important;
    }

    .submenu {
        display: flex;

        &-header {
            h1 {
                text-align: left;
            }
        }

        &-list {
            li {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
            }
        } 
    }

}

.flashMessage {
    text-align:center;
    font-size:20px;
  
    li {
      color: red;
    }
}
  